.logo {
  position: absolute;
  will-change: filter;
  transition: filter 500ms;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 60s linear;
  }
}
