#root {
  width: 100%;
  height: 100%;
}

// primary colour
$primary: #ff847c;

// secondary colour
$secondary: #2a363b;

// tertiary colour
$tertiary: #ffb4af;

// quaternary colour
$quaternary: #ff5449;

// quinary colour
$quinary: #3f5159;

// senary colour
$senary: #151b1d;
